---
layout: base
---

<div id="page" class="site palette-{{ site.color_scheme }} accent-{{ site.accent_color }}">
    {% include header2.html %}
    <main id="content" class="site-content">
      
<div class="inner outer">

    <article class="post post-full">
      <header class="post-header inner-sm">
        {% assign title_is_not_empty = page.title | is_not_empty %}
        {% if title_is_not_empty %}
        <h1 class="post-title line-top">{{ page.title }}</h1>
        {% endif %}
  
        {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
        {% if subtitle_is_not_empty %}
        <div class="post-subtitle">
          {{ page.subtitle }}
        </div>
        {% endif %}
      </header>
      {% assign image_is_not_empty = page.image | is_not_empty %}
      {% if image_is_not_empty %}
      <div class="post-image">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
      </div>
      {% endif %}
      <div class="post-content inner-sm">
        {{ content }}
      </div>
    </article><!-- .post -->
  
  </div><!-- .inner -->
  
    </main><!-- .site-content -->
    {% include footer.html %}
  </div><!-- .site -->
  